<section class="py-section-gap overflow-hidden" id="About">
    <div class="px-margin max-w-container-max mx-auto mb-stack-lg">
        <div class="flex justify-between items-end border-b border-primary pb-stack-md">
            <div class="font-headline-md text-[32px] font-bold text-primary">
                About
            </div>
        </div>
    </div>
</section>
<section
    class="px-margin max-w-container-max mx-auto -mt-16 grid grid-cols-1 md:grid-cols-12 gap-gutter items-start reveal-on-scroll reveal-on-scroll">
    <!-- Professional Portrait -->
    <div class="md:col-span-4 aspect-[4/5] relative border-2 border-primary">
        <img class="w-full h-full object-cover"
            src="../assets/luna.jpeg" />
    </div>
    <!-- Biography -->
    <div class="md:col-span-6 flex flex-col justify-center h-full pt-stack-md md:pt-0">
        <h1 class="font-display-xl text-display-xl text-primary mb-stack-md whitespace-nowrap">Luna Aulia Haldi</h1>
        <div class="font-body-lg text-body-lg text-on-surface space-y-stack-md max-w-[600px]">
            <p>
                Hi, I'm Luna Aulia Haldi, a Software Engineering graduate with an interest in technology and
                digital product development. I enjoy turning ideas into practical solutions, exploring new
                technologies, and continuously improving my skills through hands-on projects.
            </p>
            <p class="font-headline-md text-headline-md italic border-l-4 border-primary pl-stack-md mt-stack-lg">
                "Building solutions, learning continuously, and growing through every challenge."
            </p>
        </div>
    </div>
</section>