<section class="py-section-gap overflow-hidden" id="Contact">
    <div class="px-margin max-w-container-max mx-auto">
        <div class="flex justify-between items-end border-b border-primary pb-stack-md">
            <div class="font-headline-md text-[32px] font-bold text-primary">
                Contact
            </div>
        </div>
    </div>
</section>
<section class="section-gap reveal-on-scroll">
    <div
        class="bg-primary p-stack-lg md:p-stack-lg text-on-primary flex flex-col md:flex-row justify-between items-end gap-stack-lg">
        <div class="max-w-2xl">
            <h2 class="font-display-xl text-display-xl leading-tight mb-stack-md">Let’s build what’s next.</h2>
        </div>
        <div class="flex flex-col items-end">
            <div class="font-label-mono text-label-mono mb-stack-sm">Contact direct</div>
            <a class="font-headline-md text-headline-md border-b border-on-primary hover:pb-2 transition-all duration-300"
                href="mailto:auliahaldi@gmail.com">auliahaldi@gmail.com</a>
            <br />
            <div class="font-label-mono text-label-mono mb-stack-sm">connect / socials</div>
            <a class="font-headline-md text-headline-md border-b border-on-primary hover:pb-2 transition-all duration-300"
                href="https://www.linkedin.com/in/auliahaldi/" rel="noopener noreferrer" target="_blank">LinkedIn</a>
            <a class="font-headline-md text-headline-md border-b border-on-primary hover:pb-2 transition-all duration-300"
                href="https://instagram.com/naucliaa" rel="noopener noreferrer" target="_blank">Instagram</a>
        </div>
    </div>
</section>