<footer class="w-full mt-section-gap border-t border-primary dark:border-outline bg-surface dark:bg-surface">
    <div
        class="flex flex-col md:flex-row justify-between items-center py-stack-lg px-margin max-w-container-max mx-auto">
        <div class="flex flex-col gap-4 mb-stack-md md:mb-0 text-center w-full">
            <p class="font-body-md text-body-md text-on-surface-variant dark:text-on-secondary-fixed-variant">© 2026
                Luna. All rights reserved.</p>
        </div>
    </div>
</footer>